<% provide(:title, 'Edit product') %>
<h1>Editing Product</h1>

<%= form_for(@product, url: product_path(@product), as: :product) do |f| %>
  <%= render 'form', product: @product, f: f %>
<% end %>

<%= link_to 'Back', products_path, class: 'btn btn-default' %>
