<% provide(:title, 'New customer') %>
<h1>New Customer</h1>

<%= form_for(@customer, url: customers_path, as: :customer) do |f| %>
  <%= render 'form', customer: @customer, f: f %>
<% end %>

<%= link_to 'Back', customers_path, class: 'btn btn-default' %>
